@import url("https://fonts.cdnfonts.com/css/satoshi");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide Arrows From Input Number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* fix Tailwind CSS’s h-screen on iOS Safari */
@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

/* Webkit Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #686868;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Satoshi", sans-serif;
}

.container {
  @apply mx-auto max-w-[1200px] xl:px-20 lg:px-14 md:px-8 sm:px-4;
}

.footer-text {
  @apply text-gray-300 transition hover:text-white;
}

.footer ul > li {
  @apply footer-text;
}

